<div class="full-width-container">

  <div class="row">

    <div class="col-xs-4">
      <form>

        <h3 class="mb-4">Search</h3>

        <div class="form-group row">

          <label for="author" class="col-sm-3 col-form-label">Author</label>
          <div class="col-sm-7">
            <input class="form-control" id="author">
          </div>

        </div>

        <div class="form-group row">

          <label for="title" class="col-sm-3 col-form-label">Title</label>
          <div class="col-sm-7">
            <input class="form-control" id="title">
          </div>

        </div>

        <div class="form-group row">

          <label for="isbn" class="col-sm-3 col-form-label">ISBN</label>
          <div class="col-sm-7">
            <input class="form-control" id="isbn">
          </div>

        </div>

        <div class="form-group row">
          <label for="format" class="col-sm-3 col-form-label">Format</label>
          <div class="col-sm-7">
            <select class="form-control" id="format">
              <option>All</option>
              <option>Paperback</option>
              <option>Hardcover</option>
              <option>Audiobook</option>
              <option>Leather Bound</option>
              <option>Spiral Bound</option>
            </select>
          </div>
        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="page-min" class="col-sm-6 col-form-label">Pages between</label>
              <div class="col-sm-6">
                <input class="form-control" id="page-min">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="page-max">and</label>
              <div class="col-sm-6">
                <input class="form-control" id="page-max">
              </div>

            </div>
          </div>

        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="price-min" class="col-sm-6 col-form-label">Price between</label>
              <div class="col-sm-6">
                <input class="form-control" id="price-min">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="price-max">and</label>
              <div class="col-sm-6">
                <input class="form-control" id="price-max">
              </div>

            </div>
          </div>

        </div>

      </form>
    </div>

    <div class="col-xs-8">
      <h3 class="mb-4">List of Matched Books</h3>
    </div>

  </div>

</div>
